### Purpose: Clean and preprocess data for product success prediction

In [1]:
## Import Libraries
import pandas as pd
import numpy as np
import re
import os

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [8]:
# Paths
RAW_DATA_PATH = "../data/raw/ecommerce_sales.csv"
PROCESSED_DIR = "../data/processed/"
os.makedirs(PROCESSED_DIR, exist_ok=True)

In [9]:
# ## 2. Load Dataset
df = pd.read_csv(RAW_DATA_PATH)

In [14]:
df.tail(10)

,product_id,product_name,category,price,review_score,review_count,sales_month_1,sales_month_2,sales_month_3,sales_month_4,sales_month_5,sales_month_6,sales_month_7,sales_month_8,sales_month_9,sales_month_10,sales_month_11,sales_month_12
990,991,Product_991,Toys,400.71,4.1,323,58,583,180,888,853,101,784,994,53,540,792,802
991,992,Product_992,Home & Kitchen,348.87,1.6,443,32,295,287,819,660,45,287,559,275,143,958,618
992,993,Product_993,Home & Kitchen,139.71,3.4,837,317,235,833,68,235,65,808,702,334,587,991,127
993,994,Product_994,Home & Kitchen,297.16,1.5,13,49,55,186,246,305,602,133,461,30,656,413,706
994,995,Product_995,Sports,183.68,4.0,943,879,918,883,260,477,163,983,11,134,740,428,850
995,996,Product_996,Home & Kitchen,50.33,3.6,494,488,359,137,787,678,970,282,155,57,575,634,393
996,997,Product_997,Home & Kitchen,459.07,4.8,701,18,906,129,78,19,110,403,683,104,858,729,474
997,998,Product_998,Sports,72.73,1.3,287,725,109,193,657,215,337,664,476,265,344,888,654
998,999,Product_999,Sports,475.37,1.2,720,196,191,315,622,854,122,65,938,521,268,60,394
999,1000,Product_1000,Toys,225.77,2.1,114,890,903,983,769,134,704,648,400,495,839,611,110